# Игнорировать файл .env для безопасности
.env

# Игнорировать директорию node_modules
node_modules/

# Игнорировать временные файлы операционной системы
*.log
.DS_Store

# Игнорировать файлы кэширования и временные файлы
*.tmp
*.cache

# Игнорировать файлы конфигурации редакторов кода
.vscode/